@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1820px;
  }
}

@media (max-width: 1400px) {
  .nav-section img {
    width: 110px;
  }

  .navbar-brand {
    left: 10px;
  }
  .form-1 h2 {
    margin-top: -98px;
  }
  .blue-layer .col img{
     width: 150px;
   }
}

@media (max-width: 1200px) {
  .nav-section img {
    width: 80px;
  }
  ul li a,
  .nav-btn {
    font-size: 18px !important;
  }
  .blue-layer .col{
    display: none;
  }
}

@media (max-width: 992px) {
  .nav-section {
    padding: 20px 20px 30px 20px;
  }
  ul .red:before {
    display: none;
  }
  h2 {
    font-size: 40px;
    line-height: 45px;
  }
  .form-1 h2 {
    margin-top: -50px;
  }
  .customer-saying .card-body{
    padding: 20px 20px 60px 20px;
  }
}

@media (max-width: 767px) {
  p {
    font-size: 16px;
    line-height: 26px;
  }
  h2 {
    font-size: 40px;
    line-height: 45px;
  }
  button.button {
    padding: 8px 50px 9px 50px;
    font-size: 16px;
  }
  button.button-1{
    padding: 9px 40px 9px 40px;
    font-size: 16px;
    text-align: center;
  }
  .nav-btn {
    padding: 9px 45px 9px 45px;
  }
  .home{
    padding: 100px 9px 250px 9px;
  }
  .home p {
    font-size: 30px;
  }
  .home h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .form-1 h2 {
    margin: -50px 23px 0px 23px;
    padding: 20px 10px;
  }
  .form .gap{
    gap: 30px
  }
  .why-choose{
    padding: 0px 20px 60px 20px;
  }
  .why-choose .col-lg-7 .row .col-12 {
    padding: 0px 10px 20px 10px;
  }
  .why-choose .col-lg-7 p {
    font-size: 21px;
    line-height: 35px;
  }
  .services{
    padding: 50px 9px;
  }
  .services h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .red-box h2 {
    font-size: 40px;
    line-height: 40px !important;
  }
  .blue-layer img, .why-choose .col-lg-7 img{
    width: 100px;
  }
  .blue-layer {
    clip-path: polygon(100% 0%, 100% 85%, 50% 90%, 50% 90%, 0 85%, 0 0) !important;
  }
  .mission{
    margin-top: -50px;
  }
  .customer-saying h3{
    font-size: 16px;
    line-height: 32px;
  }
  .first-section p{
    font-size: 20px;
    line-height: 32px;
  }
  .journey button.button {
    padding: 8px 40px 9px 40px;
    font-size: 16px;
  }
  .footer-section{
    padding: 50px 20px 30px 20px;
  }
  .footer-section img{
    width: 110px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .footer-section .mt-5{
    margin-top: 100px !important;
  }
  .footer-section ul li a{
    font-size: 16px !important;
    line-height: 30px;
  }
}

@media (max-width: 575px) {
  .blue-layer {
    clip-path: polygon(100% 0%, 100% 88%, 50% 90%, 50% 90%, 0 88%, 0 0) !important;
  }
  .mission{
    margin-top: -80px;
  }
  .customer .col-lg-6{
    padding: 20px 8px 50px 8px;
  }
}